#msv_amspsbtt_page_scroll_back_to_top_icon table tr:last-child td fieldset br,
#msv_amspsbtt_page_scroll_back_to_top_icon table tr:last-child td fieldset label input {
  display: none;
}
#msv_amspsbtt_page_scroll_back_to_top_icon table tr:last-child td fieldset label img {
  border: 1px solid #ccc;
  height: 48px;
  margin-right: 2px;
  padding: 2px;
  width: 48px;
}
#msv_amspsbtt_page_scroll_back_to_top_icon table tr:last-child td fieldset label.icon-choosen img{
	border-color: #f00;
}